/*NEW*/
html, body, div, img, ul, li, a, span, hgroup, h1, h2, h3, p {
  margin: 0;
  padding: 0; }

body {
  font-family: Arial, "DejaVu Sans", "Liberation Sans", Freesans, sans-serif;
  font-size: 16px; }
  body div#wrapper {
    width: 960px;
    display: table;
    display: inline; }
    body div#wrapper > div {
      border: 1px solid #d3d7da;
      display: table-cell;
      width: 145px;
      height: 265px; }
      body div#wrapper > div:nth-child(even) {
        background: #f1f2f3;
        background: -moz-linear-gradient(top, white 0%, #f1f2f3 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f1f2f3));
        background: -webkit-linear-gradient(top, white 0%, #f1f2f3 100%);
        background: -o-linear-gradient(top, white 0%, #f1f2f3 100%);
        background: -ms-linear-gradient(top, white 0%, #f1f2f3 100%);
        background: linear-gradient(to bottom, white 0%, #f1f2f3 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$end', GradientType=0); }
      body div#wrapper > div hgroup h1, body div#wrapper > div hgroup h2 {
        font-size: 1em; }
      body div#wrapper > div div a {
        text-decoration: none;
        color: #C72D2F;
        display: block;
        font-size: 1em; }
